* {
  scroll-behavior: smooth;
}

body{
  background: rgb(131, 131, 131);
}

.app {
  min-height: 100vh;
  color: white;
  padding-top: 85px;
  padding-bottom: 70px;
}

@media (min-width: 600px) {
  .app {
    padding-top: 105px;
  }
}

.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  padding: 4px;
  border-radius: 50px;
  color: rgb(132, 206, 255);
}

@media (min-width: 600px) {
  .pageTitle{
    font-size: 2.2rem;
    padding: 10px;
  }
}

